# Creating a managed Spark table
This notebook describes how to create a managed table from Spark. 
The table is created in the Synapse warehouse folder in your primary storage account. The table will be synchronized and available in Synapse SQL Pools.

In [11]:
spark.Sql("CREATE TABLE cities (name STRING, population INT) USING PARQUET")

Insert a few rows into the table using a list of values.

In [12]:
spark.Sql("INSERT INTO cities VALUES ('Seattle', 730400), ('San Francisco', 881549), ('Beijing', 21540000), ('Bangalore', 10540000)")

* Retrieve values back. Click on 'Chart' below to review the visualization.

In [13]:
spark.Sql("SELECT * FROM cities ORDER BY name").Show()

+-------------+----------+
|         name|population|
+-------------+----------+
|    Bangalore|  10540000|
|      Beijing|  21540000|
|San Francisco|    881549|
|      Seattle|    730400|
+-------------+----------+

Drop the table. Please note the data will get deleted from the primary storage account associated with this workspace.

In [14]:
spark.Sql("DROP TABLE cities")